:root {
  /* Blue */
  --blue-0:   #F8FBFF;
  --blue-100: #E8F1FC;
  --blue-200: #D0DDF8;
  --blue-300: #AFC4F1;
  --blue-400: #82A2E7;
  --blue-500: #308AFF;
  --blue-600: #08418B;
  --blue-700: #062F63;
  --blue-800: #001E46;
  --blue-900: #000B28;

  /* Gray */
  --gray-0:   #FFFFFF;
  --gray-100: #F6F7F9;
  --gray-125: #F2F4F9;
  --gray-150: #F2F3F5;
  --gray-200: #E9ECEF;
  --gray-300: #E2E6EB;
  --gray-400: #DADDE4;
  --gray-500: #CACACA;
  --gray-600: #A2A9B4;
  --gray-700: #767C88;
  --gray-800: #42474F;
  --gray-900: #282828;

  /* Green */
  --green-0:   #F8FFFC;
  --green-100: #E7FCF6;
  --green-200: #C2F0E8;
  --green-300: #80F3E0;
  --green-400: #3AE3C0;
  --green-500: #44DAB1;
  /* --green-600: #3B9689; */
  --green-600: #39B695;
  --green-700: #009F72;
  --green-800: #007151;
  --green-900: #003D2C;

  /* Orange */
  --orange-0:   #FFF8F5;
  --orange-100: #FCEDE6;
  --orange-200: #F8D0C0;
  --orange-300: #F5AC95;
  --orange-400: #F98075;
  --orange-500: #F96019;
  --orange-600: #BB4108;
  --orange-700: #932F00;
  --orange-800: #601E00;
  --orange-900: #250800;

  /* Yellow */
  --yellow-0:   #FFF9E9;
  --yellow-100: #FFF7E0;
  --yellow-200: #FFF0C7;
  --yellow-300: #FFE8A9;
  --yellow-400: #FFE394;
  --yellow-500: #FFD767;
  --yellow-600: #FFC72B;
  --yellow-700: #FFC31C;
  --yellow-800: #FFAE00;
  --yellow-900: #E08000;

  /* Purple */
  --purple-0:   #FCF8FF;
  --purple-100: #F7E6FC;
  --purple-200: #E0BDF8;
  --purple-300: #E1A7F1;
  --purple-400: #C3BEF2;
  --purple-500: #B428D8;
  --purple-600: #8E08BB;
  --purple-700: #6E0093;
  --purple-800: #480060;
  --purple-900: #1D0026;

  /*  Red */
  --red-0:   #FFF5F5;
  --red-100: #FCE6E6;
  --red-200: #F8D0D0;
  --red-300: #F1AFAF;
  --red-400: #E78282;
  --red-500: #EE5D5D;
  --red-600: #D80000;
  --red-700: #930000;
  --red-800: #600000;
  --red-900: #290000;

  /* Opacity */
  --opacity-dim-15: rgba(0, 0, 0, 0.15);
  --opacity-dim-50: rgba(0, 0, 0, 0.5);

 /* Background */
  --bg-base: var(--gray-125);
  --bg-base-soft: var(--gray-100);


  /* Border */
  --border-primary: var(--green-600);
  --border-primary-soft: var(--green-200);
  --border-neutral: var(--gray-300);
  --border-neutral-soft: var(--gray-150);
  --border-positive: var(--blue-500);
  --border-negative-soft: var(--orange-400);
  --border-negative: var(--red-500);

  /* Text */
  --text-primary: var(--green-600);
  --text-base: var(--gray-900);
  --text-negative-soft: var(--orange-400);
  --text-negative: var(--red-500);
  --text-positive: var(--blue-500);
  --text-inverse: var(--gray-0);
  --text-neutral: var(--gray-700);
  --text-neutral-soft: var(--gray-600);
  --text-disabled: var(--gray-500);

  /* Icon */
  --icon-primary: var(--green-600);
  --icon-base: var(--gray-900);
  --icon-disabled-soft: var(--gray-400);
  --icon-disabled: var(--gray-500);
  --icon-neutral: var(--gray-600);
  --icon-negative: var(--red-500);
  --icon-inverse: var(--gray-0);
  --icon-warning: var(--yellow-700);
  --icon-positive: var(--blue-500);

  /* Surface */
  --surface-primary: var(--green-600);
  --surface-primary-soft: var(--green-100);
  --surface-neutral-soft: var(--gray-100);
  --surface-neutral: var(--gray-150);
  --surface-base: var(--gray-0);
  --surface-secondary: var(--gray-900);
  --surface-negative: var(--red-500);
  --surface-negative-soft: var(--orange-400);
  --surface-warning: var(--yellow-700);
  --surface-positive: var(--blue-500);  
  --surface-disabled:var(--gray-300);
}