<header>
    <div class="header-top">
        <h1><a href=""><span class="logo">GLOBONxONIONE</span></a></h1>
        <div class="aside">
            <button type="button" class="ht-search"><i class="ico-h-search"></i><span class="sr-only">검색</span></button> 
            <button type="button" class="ht-cart"><i class="ico-h-cart"></i><span class="sr-only">장바구니</span><em>3</em></button>
            <button type="button" class="ht-alarm"><i class="ico-h-alarm"></i><span class="sr-only">알림</span></button>
        </div>
    </div>    
</header>